@import url("https://fonts.googleapis.com/css?family=Roboto:400,700");

* {
  margin: 0;
}

html {
  font-family: "Roboto";
}

#winner {
  color: white;
  font-size: 100px;
  z-index: 3;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  transition: opacity 0.4s ease, visibility 0.4s ease;
  will-change: opacity;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#winner.open {
  visibility: initial;
  opacity: 1;
  transition: opacity 0.5s ease 1.5s, visibility 0.5s ease 1.5s;
}

#close {
  height: 25px;
  visibility: hidden;
  opacity: 0;
  position: absolute;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  will-change: opacity;
  top: 40px;
  right: 40px;
  z-index: 4;
  cursor: pointer;
}

#close.open {
  visibility: initial;
  opacity: 1;
  transition: opacity 0.5s ease 2.5s, visibility 0.5s ease 2.5s;
}

#world {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 2;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  will-change: opacity, visibility;
}

#world.open {
  visibility: initial;
  opacity: 1;
  transition: opacity 1.5s ease, visibility 0.5s ease;
}

.background {
  width: 100%;
  height: 100vh;
  min-height: 700px;
  background: linear-gradient(to bottom right, #ff8b57, #fb5656);
}

nav {
  width: 100%;
  height: 100px;
}

.navWrapper {
  width: 85%;
  margin: auto;
  padding-top: 38px;
}

.navWrapper a {
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: 900;
  letter-spacing: 1px;
}

header {
  width: 100%;
  height: calc(100% - 100px);
  display: grid;
  justify-content: center;
  align-items: center;
}

.namepicker {
  padding: 50px 35px 50px 35px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  display: block;
  animation: fadeIn 0.75s forwards 0s ease;
}

.namepicker p {
  color: #585858;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.namepicker input {
  width: 420px;
  color: #898989;
  font-size: 20px;
  font-weight: normal;
  background-color: white;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  padding: 20px;
  border: 0;
  margin-bottom: 75px;
}

.namepicker input::placeholder {
  color: #d9d9d9;
}

.namepicker input:focus {
  outline: none;
}

.namepicker h2 {
  color: #6e6e6e;
  font-size: 48px;
  font-weight: medium;
  letter-spacing: 1px;
  text-align: center;
  margin-bottom: 55px;
}

.namepicker a {
  color: white;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
  text-decoration: none;
  padding: 21px 161px;
  background: linear-gradient(to right, #ff8757, #fc5f56);
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  border-radius: 1000px;
  display: block;
  margin: auto;
}

@keyframes fadeIn {
  0% {
    transform: scale(0.5);
    transform: skewY(25deg);
    opacity: 0;
    box-shadow: none;
  }
  100% {
    transform: scale(1);
    transform: skewY(0deg);
    opacity: 1;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
  }
}
